<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div href="#" class="navbar-brand">BLAKE JON REGO</div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
         <ul class="nav navbar-nav">
            <li>
              <a href="/projects">
                <span class="item">
                  Projects
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/blakerego/">
                <span class="item">
                  Github
                </span>
              </a>
            </li>
<!--               <li>
              <a href="http://www.happilyadrift.com/">
                <span class="item">
                  Travel
                </span>
              </a>
            </li>
-->              <li>
              <a href="https://www.flickr.com/photos/23824747@N07/">
                <span class="item">
                  Flickr
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCnbF01lAe8Dt3DodDCwb3WA">
                <span class="item">
                  Youtube
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/blake-rego-1346099/">
                <span class="item">
                  LinkedIn
                </span>
              </a>
            </li>
         </ul>
      </div>
   </div>
</nav>