.row
  .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
    .section-nav
      %span.focusOnHover
        = link_to 'Home', '/', "phys-balloon-planet" => true
      %span.focusOnHover
        = link_to 'Resumé', '/cv', "phys-balloon-planet" => true
      %span.focusOnHover
        = link_to 'Projects', '/projects', "phys-balloon-planet" => true
      %span.focusOnHover
        = link_to 'Hockey', '/play', "phys-balloon-planet" => true