%ul.icons
  %li
    %a{:href => "https://github.com/blakerego"}
      %i.fa.fa-github.fa-2x
  %li
    %a{:href => "https://plus.google.com/118295683671011064684/posts"}
      %i.fa.fa-google-plus.fa-2x
  %li 
    %a{:href => "https://www.facebook.com/blake.rego"}
      %i.fa.fa-facebook.fa-2x

  %li 
    %a{:href => "https://www.linkedin.com/profile/view?id=28382584"}
      %i.fa.fa-linkedin.fa-2x

