
#container
  .cv
    .row
      .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12
        .name
          Blake Jon Rego

    .row
      .col-md-12.header
        %h1
          Education
      .col-md-10.col-md-offset-2.col-sm-12
        %h2
          Columbia University
        %ul
          %li
            School of Engineering and Applied Science
          %li
            Graduated May 2008 with a Bachelor of Science
          %li
            Major in applied physics with a minor in applied mathematics



    / .row
    /   .col-md-12.header
    /     %h1
    /       Experience
