
.container#container{"ng-controller" => "indexCtrl"}
  .row
    .col-md-12
      = render 'social_media_links'

  = render 'name'
  .row
    .col-md-6.col-md-offset-3
      .img.profile-image
        = image_tag 'circle-blake.png'

  = render 'section_nav'
:javascript
  (function() {

    function removeScrollFromPage() {
      var menuElement = $('.focusOnHover').first();
      if (menuElement.offset().top + menuElement.height() < document.documentElement.clientHeight) {
        $('body').css('overflow', 'hidden')
      }
    }

    var demo, playing, renderer, container;

    function init() {
      removeScrollFromPage();
      playing = true;
      renderer = 'WebGLRenderer';
      container = $('#container');
      setDemo('Cloth');
      update();
    }

    function update() {
      requestAnimationFrame(update);
      if (playing && demo) {
        demo.step();
      }
    }

    function setDemo(name) {
      if (demo) {
        demo.destroy();
        demo = null;
      }
      demo = new BlakeDemo();
      demo.init(container.get(0), new self[ renderer ]());
      self.__demo = demo;
    }

    init();

  })();