
.container#container{"ng-controller" => "indexCtrl"}
  .row
    .col-md-12
      = render 'social_media_links'

  = render 'name'
  .row
    .col-md-6.col-md-offset-3
      .img.profile-image
        = image_tag 'circle-blake.png'

  = render 'section_nav'
