

.container
  .cv
    = render 'name'
    .row
      .col-md-4.col-md-offset-4
        = render 'social_media_links'
    .row
      .col-md-8.col-md-offset-2
        %iframe{:width => "100%", :height => "400", :src => "https://www.youtube.com/embed/kpxKwd7fMrE",  :frameborder => "0",  :allowfullscreen => ""}