<script src="https://www.youtube.com/iframe_api"></script>

<div ng-controller='revampCtrl'>

  <div class="player-container">
    <youtube-video
      player-frameborder="'0'"
      player-width="'100%'"
      player-height="'100%'"
      autoplay="1"
      video-id="videoId"
      player-vars="playerVars">
    </youtube-video>

  </div>
  
  <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div href="#" class="navbar-brand">BLAKE JON REGO</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
           <ul class="nav navbar-nav">
              <li>
                <a href="/projects">
                  <span class="item">
                    Projects
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="item">
                    Travel
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="item">
                    Photos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="item">
                    Videos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="item">
                    Work
                  </span>
                </a>
              </li>
           </ul>
        </div>
     </div>
  </nav>
</div>