%h4.project_name
  = link_to project.name, project
/ %p= project.image_url
/ %p="Size: #{project.size}"
/ %p= project.media_type

= link_to 'Edit', edit_project_path(project), :class => 'btn btn-primary btn-xs'
= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-danger btn-xs'
