<div ng-controller='projectCtrl'>

  <%= render :partial => 'shared/header' %>

  <div class="blakeweb-projects">
    <div masonry
      load-images="true"
      masonry-options="masonryOptions"
      column-width="300">
      <!-- Note that .project-description width is set in project.scss -->
      <div
        class="masonry-brick"
        ng-repeat="project in projects"
        >
        <img ng-src="{{project.image_url}}" alt="{{project.name}}">
        <div class="project-banner">
          <div class="project-name">
            {{project.name}}
          </div>
          <div class="project-description">
            {{project.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>