<div ng-app="project-app" ng-controller='projectCtrl'>

  <%= render :partial => 'shared/header' %>

  <!-- views are located in templates/projects -->
  <div class="blakeweb-projects" ui-view></div>

</div>