<div ng-controller='projectCtrl'>

  <%= render :partial => 'shared/header' %>

  <div class="blakeweb-projects">

    <div class="blakeweb-masonry-container" ng-if="projects && projects.length > 0">
      <masonry
        reload-on-resize
        load-images="false"
        masonry-options="masonryOptions">
        <div
          masonry-brick
          class="masonry-brick"
          ng-repeat="project in projects"
          >
          <img ng-src="{{project.image_url}}" alt="{{project.name}}">
          <div class="project-name">
            {{project.name}}
          </div>
          <div class="project-description">
            {{project.description}}
          </div>
        </div>
      </masonry>
    </div>
  </div>

</div>