
body {
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'BohemianTypewriter';    
  src: font-url('BohemianTypewriter.ttf');
  font-weight: normal;
  font-style: normal;
}


.container {
  position: relative;
  width: 100%;
  height: 100%;
  .profile-image {
    // margin: 9px 0 0 25%;
    // position: absolute;
    text-align: center;
    width: 500px;
    margin-top: 20px;
    .name {
      font-size: 42px;
      text-align: center;
      font-family: 'BohemianTypewriter';
      border-top: 5px solid;
      border-bottom: 5px solid;
      padding: 6px;
      margin-bottom: 12px;
    }
  }  
}

ul.icons {
  list-style: none;
  li {
    margin-bottom: 5px;
  }
}