$navHeight: 50px;
$standardVerticalMargin: 10px;
$leftPagePadding: 15px;

.blakeweb-projects {
  margin-top: $navHeight + $standardVerticalMargin;
  padding-left: $leftPagePadding;

  .masonry-brick {
    position: relative;
    margin-bottom: 3px;
    background-color: #aaaaaa;
    text-align: center;
    width: 300px;
    .project-banner {
      background-color: black;
      color: white;
      .project-name {
        font-family: 'adamcg';
        text-align: center;
        padding: 5px 0 0 5px;
        font-size: 20px;
      }
      .project-description {
        text-align: left;
        font-family: 'Helvetica';
        padding-left: 5px;
        width: 300px;
        height: 45px;
        margin-top: -6px;
        text-overflow: ellipsis;
      }
    }
  }
}