$navHeight: 50px;
$standardVerticalMargin: 10px;
$leftPagePadding: 15px;

$line-height: 1.4;
$lines-to-show: 2;
$font-size: 10px;

$brick-width: 300px;

.blakeweb-projects {
  margin-top: $navHeight + $standardVerticalMargin;
  padding-left: $leftPagePadding;
  color: #354147;
  // font-family: 'Helvetica, arial, sans-serif';
  font-family: 'Helvetica';

  h1, h2, h3 {
    font-family: 'Helvetica Bold';
  }

  .page-content {
    line-height: 1.8em;
    font-size: 16px;
    img {
      display: block;
      margin: auto;
      text-align: center;
    }

    p {
      margin: 20px 0
    }

    h1 {
      margin: 40px 0 20px;
    }
    a {
      color: #61aaf5;
    }
  }

  .masonry-brick {
    position: relative;
    margin-bottom: 3px;
    background-color: #aaaaaa;
    text-align: center;
    width: 300px;
    max-width: $brick-width;
    img {
      max-width: $brick-width
    }
    .project-banner {
      background-color: black;
      color: white;
      .project-name {
        font-family: 'adamcg';
        text-align: center;
        padding: 5px 0 0 5px;
        font-size: 20px;
      }
      .project-description {
        color: #cdcdcd;
        text-align: left;
        font-family: 'Helvetica';
        padding-left: 5px;
        max-width: 500px;
        margin-top: -6px;
        text-overflow: ellipsis;
        overflow: hidden;

        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px; /* Fallback for non-webkit */
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.project_admin
{
  margin: 36px;
  font-size: 13px;
  background-color: white;
  border: 3px solid black;
  padding: 30px;

  ul.projects
  {
    width: 1000px;
    list-style: none;
    li
    {
      h4.project_name
      {
        text-decoration: underline;
      }
      height: 100%;
      padding: 5px;
      margin: 2px 0 2px 0;

    }
    li.live
    {
      width: 230px;
      display: inline-block;
      cursor: move;
    }
    li.secret
    {
      background-color: #FEFFCD;
      width: 300px;      
    }
  }
  h1.heading, .new_project
  {
    margin-left: 40px;
  }

  .sizing_area
  {
    border: 2px solid black;
    width: 275px;
    height: 205px;
    margin: 0px auto;
    background-color: #aaa;
  }

  ul.groups
  {
    width: 1000px;
    list-style: none;
    li
    {
      width: 230px;
      h4.project_name
      {
        text-decoration: underline;
      }
      height: 100%;
      padding: 5px;
      margin: 2px 0 2px 0;
    }  
  }

}