!!! 5

%html{"ng-app" => "blakeHome"}
  %head
    %title Blake Jon Rego
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=400"}

    = yield


